{% extends "base.html" %}

{% load static %}

{% block title %}Modificar precios y stock{% endblock %}

{% block table %}
<div class="col-span-3 border border-collapse overflow-y-visible overflow-x-hidden pr-3 flex flex-col justify-between">
    <table class="w-full font-mono border-separate border-spacing-[1px]">
        <thead>
            <tr class="
            [&_th]:border [&_th]:text-[12px]">
                <th>Codigo de barras</th>
                <th>Descripcion</th>
                <th>Ult. actualizacion</th>
                <th>Precio</th>
                <th>Stock</th>
                <th class="min-w-[36px]"><img src="{% static 'icons/edit_black_64px.png' %}" alt="edit_black_64px.png" class="w-[14px] mx-auto"></th>
            </tr>
        </thead>

        <!--Realiza una peticion GET a esa url cuando escucha el trigger "recargarTabla" y lo vuelca adentro del tbody-->
        <input type="hidden" name="caso" id="metodo_p" value="fechaDescendente"> <!--Para recargar el orden de los productos cuando editamos uno-->
        <tbody id="tbodyProductos"
                hx-get="partials/recargarTablaHTMX_MPS"
                hx-trigger="recargarTablaMPS from:body"
                hx-target="this"
                hx-include="#metodo_p"
                hx-on::after-settle='filtrarProductos(0,1)'
                class="overflow-visible">
            {% include 'productos/partials/tbody_modificar_precio_stock.html' %}
        </tbody>
    </table>
</div>
<div class="col-span-1 gap-3 flex flex-col justify-between ">
    <script src="{% static 'javascript/productos/mostrar_confirmacion.js' %}"></script>
    <script src="{% static 'javascript/productos/ver_texto_completo.js' %}"></script>
    <!--TITULO Y VOLVER-->
    <div class="p-3 bg-gray-800 text-white text-center rounded grid gap-2 h-[20%]">
        <h4 class="text-base underline">Modificar stock y precios</h4>
        <div class="text-[12px] m-0 p-0">
            <div class="flex">
                <p><p class="text-yellow-300 font-bold pr-1">AMARILLO:</p> Stock bajo</p>
            </div>
            <div class="flex">
                <p><p class="text-red-600 font-bold pr-1">ROJO:</p> Sin stock</p>
            </div>
        </div>
        <a href="/" class="text-sm text-blue-500 underline decoration-blue-500 font-bold"><-- Volver al inicio</a>
    </div>

    <!--Para Ordenar los productos-->
    <script src="{% static 'javascript/productos/ordenamiento_por.js' %}"></script>
    <div class="relative p-1 bg-gray-800 text-white text-center rounded grid gap-3">
        <div class="text-[11px] m-0 pl-1 pr-1 flex w-full justify-around ">
            <p>Ordenar por: </p>
            
            <p id="metodo_ordenamiento" class="ml-2 mr-2 font-bold">FECHA: D</p>
            <img id="trianguloMenu" onclick="mostrar_ordenar_por()" src="{% static 'icons/triangulo.png' %}" alt="triangulo.png" class="w-[12px] cursor-pointer transition-transform duration-50">
        </div>

        <ul id="menu_ordenar" class="absolute w-full bg-gray-700 border top-full border-gray-600 rounded hidden">
            <li hx-get="partials/recargarTablaHTMX_MPS"
                hx-trigger="click"
                hx-target="#tbodyProductos"
                hx-vals='{"caso":"fechaAscendente"}'
             onclick="mostrar_ordenar_por(); cambiar_texto_p('fechaAscendente')" class="text-[12px] cursor-pointer hover:text-blue-400 mt-2 mb-2">Fecha: Ascendente</li>
            <li hx-get="partials/recargarTablaHTMX_MPS"
                hx-trigger="click"
                hx-target="#tbodyProductos"
                hx-vals='{"caso":"fechaDescendente"}' 
             onclick="mostrar_ordenar_por(); cambiar_texto_p('fechaDescendente')" class="text-[12px] cursor-pointer hover:text-blue-400 mt-2 mb-2">Fecha: Descendente</li>
            <li hx-get="partials/recargarTablaHTMX_MPS"
                hx-trigger="click"
                hx-target="#tbodyProductos"
                hx-vals='{"caso":"codigoAscendente"}' 
             onclick="mostrar_ordenar_por(); cambiar_texto_p('codigoAscendente')" class="text-[12px] cursor-pointer hover:text-blue-400 mt-2 mb-2">CODIGO: Ascendente</li>
            <li hx-get="partials/recargarTablaHTMX_MPS"
                hx-trigger="click"
                hx-target="#tbodyProductos"
                hx-vals='{"caso":"codigoDescendente"}' 
             onclick="mostrar_ordenar_por(); cambiar_texto_p('codigoDescendente')" class="text-[12px] cursor-pointer hover:text-blue-400 mt-2 mb-2">CODIGO: Descendente</li>
            <li hx-get="partials/recargarTablaHTMX_MPS"
                hx-trigger="click"
                hx-target="#tbodyProductos"
                hx-vals='{"caso":"descripcionAscendente"}'
             onclick="mostrar_ordenar_por(); cambiar_texto_p('descripcionAscendente')" class="text-[12px] cursor-pointer hover:text-blue-400 mt-2 mb-2">DESCRIPCION: Ascendente</li>
            <li hx-get="partials/recargarTablaHTMX_MPS"
                hx-trigger="click"
                hx-target="#tbodyProductos"
                hx-vals='{"caso":"descripcionDescendente"}'
             onclick="mostrar_ordenar_por(); cambiar_texto_p('descripcionDescendente')" class="text-[12px] cursor-pointer hover:text-blue-400 mt-2 mb-2">DESCRIPCION: Descendente</li>
            <li hx-get="partials/recargarTablaHTMX_MPS"
                hx-trigger="click"
                hx-target="#tbodyProductos"
                hx-vals='{"caso":"precioMayor"}'
             onclick="mostrar_ordenar_por(); cambiar_texto_p('precioMayor')" class="text-[12px] cursor-pointer hover:text-blue-400 mt-2 mb-2">PRECIO: (D) Mayor a menor</li>
            <li hx-get="partials/recargarTablaHTMX_MPS"
                hx-trigger="click"
                hx-target="#tbodyProductos"
                hx-vals='{"caso":"precioMenor"}'
             onclick="mostrar_ordenar_por(); cambiar_texto_p('precioMenor')" class="text-[12px] cursor-pointer hover:text-blue-400 mt-2 mb-2">PRECIO: (A) Menor a mayor</li>
            <li hx-get="partials/recargarTablaHTMX_MPS"
                hx-trigger="click"
                hx-target="#tbodyProductos"
                hx-vals='{"caso":"stockMayor"}'
             onclick="mostrar_ordenar_por(); cambiar_texto_p('stockMayor')" class="text-[12px] cursor-pointer hover:text-blue-400 mt-2 mb-2">STOCK: (D) Mayor a menor</li>
             <li hx-get="partials/recargarTablaHTMX_MPS"
                hx-trigger="click"
                hx-target="#tbodyProductos"
                hx-vals='{"caso":"stockMenor"}'
             onclick="mostrar_ordenar_por(); cambiar_texto_p('stockMenor')" class="text-[12px] cursor-pointer hover:text-blue-400 mt-2 mb-2">STOCK: (A) Menor a mayor</li>
        </ul>
    </div>

    <!--Contenedor de formularios y consola-->
    <script src="{% static 'javascript/productos/filtro.js' %}"></script>
        <div class="bg-gray-800 text-white text-center rounded flex flex-col h-[80%]">
            <!--Formulario para buscar productos-->
            <form class="w-full flex-none bg-sky-700 p-2 flex justify-normal rounded-t items-center flex-col gap-2">
                <h2 class="font-bold text-[14px] underline">Filtrar productos</h2>
                <input oninput="filtrarProductos(0,1)" type="text" name="codigo_barra" placeholder="Codigo de barras..."
                    class="w-full bg-gray-200 text-black rounded p-1 text-[14px] border border-gray-400">
                <input oninput="filtrarProductos(0,1)" type="text" name="descripcion" placeholder="Descripcion..."
                    class="w-full bg-gray-200 text-black rounded p-1 text-[14px] border border-gray-400">
            </form>

            <!--Consola que muestra los resultados de las consultas-->
            <div id="resultado_consulta" class="m-2 bg-black border border-white font-serif text-start text-[12px] min-h-[80px] max-h-[100px]">
                <p class="text-green-600">Resultado de las consultas aqui...</p>
            </div>

</div>
{% endblock %}