{% load static %}
{% if sesionProductos %}
    {% for producto in sesionProductos %}
        <tr class="
            [&_td]:border [&_td]:text-[12px]">
            <td>{{ producto.codigo_barras }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.cantidad }}</td>
            {% if producto.stock <= producto.stock_minimo %}
                <td class="font-bold text-yellow-400 border-black">{{ producto.stock }}</td>
            {% else %}
                <td>{{ producto.stock }}</td>
            {% endif %}
            <td>
                <img id="basuraIcono{{ producto.id }}" src="{% static 'icons/delete_red_64px.png' %}" alt="delete_red_64px.png" onclick="mostrar_confirmacion(2,'{{ producto.id }}')" class="w-[14px] mx-auto cursor-pointer">
                <div id="confirmacionEliminar{{ producto.id }}" class="hidden justify-center gap-1">
                    <img hx-get="tickets/quitarProductoDelTicket"
                        hx-trigger="click"
                        hx-vals='{"id":{{ producto.id }}}'
                    src="{% static 'icons/confirmacion/aceptar.png' %}" alt="aceptar.png" onclick="mostrar_confirmacion(2,'{{ producto.id }}')" class="w-[14px] cursor-pointer">
                    <img src="{% static 'icons/confirmacion/cancelar.png' %}" alt="cancelar.png" onclick="mostrar_confirmacion(2,'{{ producto.id }}')" class="w-[14px] cursor-pointer">
                </div>
            </td>
        </tr>
    {% endfor %}
{% endif %}