{% extends "base.html" %}

{% block title %}INICIO{% endblock %}

<!--Completa el head de la tabla-->
{% block thead %}
    <tr class="
        [&_th]:border-b [&_th]:border-r [&_th]:text-xs">
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th class="!border-r-0">4</th>
    </tr>
{% endblock %}

<!--Completa el body de la tabla-->
{% block tbody %}
    <tr class="
        [&_td]:border-b [&_td]:border-r [&_td]:text-xs">
        <td>1b</td>
        <td>2b</td>
        <td>3b</td>
        <td class="!border-r-0">4b</td>
    </tr>
{% endblock %}

<!--Completa el div donde van los botones-->
{% block div_main %}
    hola
{% endblock %}